
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title> Hybrid Cloud Onboarding </title>
  </head>

  <body>
    <div class="container">

    <div class="row">
      <h3 class="text-center">Hybrid Cloud - Request for Onboarding</h3>


      <div class="col-md-4 col-md-offset-4">
      <form action="/onboard/" method="post">


        <div class="well">
          <div class="form-group">
            <label for="repo" class="col-2 col-form-label">First Name</label>
            <div class="col-10">
              <input class="form-control" type="url" value="" name="first_name" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-2 col-form-label">Last Name</label>
            <div class="col-10">
              <input class="form-control" type="email" value=""  name="last_name" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="example-text-input" class="col-2 col-form-label">Phone Number</label>
            <div class="col-10">
              <input class="form-control" type="telephone" value="" name="phone_number" placeholder="x-xxx-xxx-xxxx">
            </div>
          </div>
          <div class="form-group">
            <label for="example-text-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
              <input class="form-control" type="email" value="" name="email" placeholder="...@.com">
            </div>
          </div>

          <div class="form-group">
              <input type="submit" class="btn btn-info center-block" value= "Submit Request" onclick="submit()" />
            </form>
          </div>


        </form>


        </div>
      </div>
    </div>

  </div>
</body>
  </body>
