<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title> Details: {{ami.ami_id}} </title>
</head>


<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hybrid Cloud AMI Catalog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/ami_info/">AMI Catalog <span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="row no-gutters">
 <div class="col-12 col-sm-6 col-md-8">
   <div class="jumbotron text-center">
    <h1 class="display-3">{{ami.ami_id}}</h1>
    <p class="lead">This page will describe in depth more about your selected AMI</p>
    <hr class="my-4">
    <p> AMI Name: {{ami.ami_name}} </p>
    <p> AMI ID: {{ami.ami_id}} </p>
    <p> Platform: {{ami.platform}} </p>
    <p>Creation Date: {{ami.creation_date}} </p>
    <!--This would be green to red to alert build is passing or failing-->
    {% if ami.near_end_life %}
      <p class="alert alert-success"> End of life date: {{ami.end_of_life_date}} </p>
    {% else %}
      <p class="alert alert-danger"> End of life date: {{ami.end_of_life_date}} </p>
    {% endif %}
    <p> Created by: {{ami.creator}} </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
    </div>
  </div>
 <div class="col-6 col-md-4">
   <div class="jumbotron text-center">
    <h1 class="display-3">Change Log</h1>
    <!-- Eventually use an attirubte from model to populate this x -->
    <p class="lead">This AMI has been updated {{ami.update_set.count}} times</p>
    <hr class="my-4">
      <!-- For change in log add row to table -->
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th> Update Information </th>
              <th> Date </th>
            </tr>
          </thead>
          {% for update in ami.update_set.all %}
            <tr class>
              <!-- this could link to  commit potentially -->
              <td> {{update.text}} </td>
              <td> {{update.creation_date}} </td>
            </tr>
          {% endfor %}
    </div>
 </div>
</div>
</body>
