<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title> AMI Landing Index </title>
</head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hybrid Cloud AMI Catalog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">AMI Catalog <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Platform <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="?platform=RHEL">Red Hat Enterprise Linux</a></li>
            <li><a href="?platform=Amazon">Amazon Linux</a></li>
            <li><a href="?platform=CentOS">CentOS</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="?platform=Windows2008">Windows 2008 R2</a></li>
            <li><a href="?platform=Windows2012">Windows 2012 R2</a></li>
          </ul>
        </li>
      </ul>
      <!-- Search Bar  -->
      <form class="navbar-form navbar-right" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="Search" value="{{request.GET.q}}"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th> Ami Name </th>
          <th> Ami ID </th>
          <th> Platform </th>
          <th> Creation date </th>
        </tr>
      </thead>
  {% for ami in ami_listing %}
      <tr>
        <td> <a href="/ami_info/{{ami.ami_id}}/">{{ami.ami_name}} </td>
        <td> {{ami.ami_id}} </td>
        <td> {{ami.platform}} </td>
        <td> {{ami.creation_date}} </td>
      </tr>
  {% endfor %}
</div>
</body>
